.x7zFFe table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 1px;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.x7zFFe thead th:first-child {
    z-index: 3;
}
.YEeyed {
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.WJxodf {
    padding-left: 3.5rem;
    padding-right: 1.5rem;
    min-width: 11.875rem;
}
.tLDEHd {
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
}
.QRiHXd {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.jgvuAb {
    -webkit-user-select: none;
    -webkit-transition: background .3s;
    transition: background .3s;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.ybOdnf:not(.iWO5td) .LMgvRb.KKjvXb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.ybOdnf .oJeWuf {
    line-height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
}
.HZ3kWc {
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    max-width: 280px;
    min-width: 112px;
    padding-right: 48px;
}
.jgvuAb .kRoyt {
    background-image: radial-gradient(circle farthest-side,rgba(153,153,153,0.4),rgba(153,153,153,0.4) 80%,rgba(153,153,153,0) 100%);
}
.ybOdnf .oJeWuf {
    line-height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
}
.ybOdnf .eU809d {
    top: 22px;
    right: 19px;
    border-color: #5f6368 transparent;
    border-width: 5px 5px 0 5px;
}
.VUfVLb, .Je07k {
    width: 8.0625rem;
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: top;
}
.MMshld {
    padding-bottom: 0.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.Cep97e {
    -webkit-box-flex: 1 1;
    -webkit-flex: 1 1;
    flex: 1 1;
    min-width: 0;
}
.dDKhVc {
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}
.YVvGBb {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.ee1HBc.CNpREd.VnOHwf-Tvm9db, .ee1HBc.CNpREd .VnOHwf-Tvm9db, .ee1HBc.VnOHwf-Tvm9db, .ee1HBc .VnOHwf-Tvm9db {
    color: #1967d2;
    fill: #1967d2;
}
.CmLZs {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.VUfVLb {
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: top;
}
.zIKt9b .Cbgu2e .JRtysb {
    color: transparent;
}
.NWlf3e {
    -webkit-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.I12f0b .oJeWuf {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
}
.DPvwYc {
    font-size: 1.5rem;
    -webkit-user-select: none;
}
.dDKhVc {
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}

.YglcOe {
    width: 100%;
}
.YVvGBb {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.JE14Hc {
    display: none;
}
.qwFLJb {
    background: #fff;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.x7zFFe tbody th:first-child {
    z-index: 1;
}
.xdKj9c.kTKNNc, .Je07k.kTKNNc, tbody .qwFLJb.kTKNNc {
    background: #f8f9fa;
}
.EqLkP {
    padding: 0 0.5rem 0 1.5rem;
}
.ee1HBc .VnOHwf-Tvm9db {
    color: #1967d2;
    fill: #1967d2;
}
.x7zFFe td {
    height: 100%;
    padding: 0;
    position: relative;
}
.xdKj9c.kTKNNc, .Je07k.kTKNNc, tbody .qwFLJb.kTKNNc {
    background: #f8f9fa;
}
.iLjzDc {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #5f6368;
}
.UhYXkc {
    display: grid;
}
.VIwAmc {
    color: rgba(0,0,0,0.549);
    font-size: 0.9375rem;
    font-weight: 400;
}
.E70Hue {
    -webkit-transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
    transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
    grid-area: 1/1;
}
.PazDv {
    font-size: 0.0625rem;
    height: 0.0625rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: 0.0625rem;
}
.L5Faxf {
    width: 100%;
}
tbody .qwFLJb.kTKNNc {
    background: #f8f9fa;
}
.xdKj9c {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.YEeyed, .VUfVLb, .xdKj9c {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #e0e0e0;
    border-right: 0.0625rem solid #e0e0e0;
    height: 100%;
}
.xdKj9c, .Je07k, tbody .qwFLJb {
    background: #fff;
}
.QRiHXd {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.EqLkP {
    padding: 0 0.5rem 0 1.5rem;
}
.c1KTGd {
    -webkit-align-self: center;
    align-self: center;
    height: 2rem;
    margin-right: 1rem;
    width: 2rem;
}
.tkmmwb {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-height: 75px;
    max-width: 75px;
    vertical-align: middle;
}
.Sg5BHb {
    max-width: 11.875rem;
}
.asQXV {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}
.YVvGBb {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.onkcGd, .onkcGd:visited, .OGhwGf, .OGhwGf:visited {
    color: #333;
}
.onkcGd, .onkcGd:visited, .etFl5b, .etFl5b:visited, .Vx8Sxd, .Vx8Sxd:visited, .eL9Cfb, .eL9Cfb:visited, .L5mE7d, .L5mE7d:visited, .OGhwGf, .OGhwGf:visited {
    cursor: pointer;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.Je07k {
    height: 4rem;
}
.VUfVLb, .Je07k {
    width: 8.0625rem;
}
.Je07k {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #e0e0e0;
    border-right: 0.0625rem solid #e0e0e0;
}
.xdKj9c, .Je07k, tbody .qwFLJb {
    background: #fff;
}
.WLsCn {
    cursor: text;
}
.PDpaTd {
    height: 100%;
}
.PDpaTd {
    position: relative;
}
.gRisWe {
    height: 100%;
    overflow: hidden;
    padding: 0 1rem;
    text-overflow: ellipsis;
}
.QRiHXd {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.PDpaTd .neggzd.asQXV {
    color: transparent;
}
.i5aS4e .rRimpd {
    opacity: 0;
}
.rRimpd {
    position: absolute;
}
.rRimpd {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
    transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
}
.asQXV {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}
.neggzd {
    color: transparent;
    cursor: default;
    -webkit-user-select: none;
}
.WLsCn {
    cursor: text;
}
.x7zFFe table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 1px;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.i5aS4e .hDVLxe {
    opacity: 1;
}
.hDVLxe {
    opacity: 0;
}
.hDVLxe {
    overflow: hidden;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
    transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
}
.asQXV {
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}
.PDpaTd:not(:hover):not(.Rt1Pjf) .NhG04b {
    display: none;
}
.PazDv {
    font-size: 0.0625rem;
    height: 0.0625rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: 0.0625rem;
}
.dDKhVc {
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}
.PDpaTd:not(:hover):not(.Rt1Pjf) .NhG04b {
    display: none;
}
.UNDeAc {
    margin-left: -1rem;
    margin-right: -0.875rem;
}
.JRtysb, .mUbCce {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.JRtysb {
    display: block;
    height: auto;
    line-height: 0;
    width: auto;
}
.K2mXPb {
    color: #5f6368;
    fill: #5f6368;
}
.JRtysb {
    -webkit-user-select: none;
    -webkit-transition: background .3s;
    transition: background .3s;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #444;
    cursor: pointer;
    display: inline-block;
    fill: #444;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 0;
}
.NWlf3e {
    -webkit-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
}
.I12f0b .oJeWuf {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
}
.MhXXcc {
    line-height: 0;
}
.MhXXcc {
    position: relative;
}
.JRtysb .snByac.snByac {
    margin: 8px;
}
.I12f0b .snByac {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
}
.Lw7GHd {
    margin: 8px;
    display: inline-block;
}
.DPvwYc {
    font-size: 1.5rem;
    -webkit-user-select: none;
}
.DPvwYc {
    font-family: 'Material Icons Extended';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
}
.JE14Hc {
    display: none;
}
.KT7tvf {
    padding: 0 1rem;
}
.UhYXkc {
    display: grid;
}
.VIwAmc {
    color: rgba(0,0,0,0.549);
    font-size: 0.9375rem;
    font-weight: 400;
}
.E70Hue {
    -webkit-transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
    transition: opacity 0.28s cubic-bezier(0.4,0,0.2,1);
    grid-area: 1/1;
}
.neggzd {
    color: transparent;
    cursor: default;
}
.PazDv {
    font-size: 0.0625rem;
    height: 0.0625rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: 0.0625rem;
}
.xdKj9c, .Je07k, tbody .qwFLJb {
    background: #fff;
}
.qwFLJb {
    border-bottom: 0.0625rem solid #e0e0e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
div {
    display: block;
}