.header-main {
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    background-color: #222;
    color: white !important;
    z-index: 1100;

    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-bottom: 1px red solid;
    height: 5rem;

    &___left {
        padding: 0.3rem 0 0.2rem 0;
        display: flex;
        justify-content: flex-start;

        &--menu {
            margin-right: 1rem;
            align-self: center;
        }
        &--logo-name {
            font-size: 1.5rem;
            align-self: center;
        }
    }

    &___right {
        display: flex;
        justify-content: flex-end;
        > * {
            margin-left: 1rem;
            align-self: center;
            align-items: center;
        }
        &--theme-mode {
            height: 2rem;
        }

        &--avatar {
            > Button {
                border-radius: 100%;
                width: 1.5rem !important;
            }

            img {
                border-radius: 100%;
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}

.info-header {
    display: flex;
}

.notification {
    height: 3rem;
    display: flex;
    flex: 1;
    justify-content: space-between;

    &___none {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;

        font-style: italic;
        height: 4rem;
    }

    &___avatar {
        > Avatar {
            font-size: 1.5rem;
        }
    }
    &___content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        text-align: left;
        padding-left: 0.3rem;
        &--title {
            font-size: 0.9rem;
            font-weight: bold;
        }
        &--description {
            width: 14rem;
            flex: 1;
            font-size: 0.8rem;
            display: inline-block;

            //display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &___action {
        opacity: 0.9;
        font-style: italic;
    }
}


.notify-read {
    background-color: rgb(253, 219, 219);
}